.navbar-container {
  width: 99vw;
  padding: 10px;
  margin-left: 0px;
  background: #c62426;
}


.menu--nav {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
}

.menu--nav img {
  width: 60px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-left: 20px; /* Añade un margen derecho para separar la imagen del título */
}

.notify{
  position: absolute;
  margin-left: 80%;
  background: #c62426;
  padding: 12px;
  border-radius: 10px;
  color: #fff;
}

.notify .icon{
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.icon:hover{
  transform: scale(1.5,1.5);
  cursor: pointer;
}

